* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'League Spartan', sans-serif;
}

.grid-1240 {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

.grid-820 {
    width: 100%;
    max-width: 820px;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}