:root {
  --primary-color: #102C57;
  --secondary-color: #F8F0E5;
  --tertiary-color: #EADBC8;
  --quaternary-color: #DAC0A3;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* .swiper-button-prev, .swiper-button-next {
  color: var(--primary-color);
}

.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
    content: 'next';
    background: rgba(1, 1, 1, 0.2);
    padding: 50px 20px 50px 20px;
    display: flex;
    align-items: center;
    border-radius: 10px 0px 0px 10px;
}

.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
    content: 'prev';
    background: rgba(1, 1, 1, 0.2);
    padding: 50px 20px 50px 20px;
    display: flex;
    align-items: center;
    border-radius: 0px 10px 10px 0px;
} */